.card img{
    width: 300px;
    height: 200px;
    object-fit:cover;
}

.card {
    position: relative;
    overflow: hidden;
    border-radius:12px;
    cursor:pointer;
    transition: transform 0.5s ease;

}

.gallery_parent{
    
}

.card:hover{
    transform:scale(1.1);
    transition: transform 0.5s ease;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}